@tailwind base;
@tailwind components;
@tailwind utilities;
/* Custom green scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;              /* scrollbar width */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f0f0f0;     /* track color */
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #16a34a;  /* Tailwind green-600 */
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #15803d;  /* Tailwind green-700 */
}

/* Firefox support */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #c5c6c99e #f0f0f0;
}
